<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">

    <title>Vue 3</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div v-text="name" v-if="flag"></div>

        <div v-else="flag">
            Else
        </div>

        <input type="text" v-model="name">

        <span v-bind:title="name">{{ name }}</span>

        <div v-for="item in numbers">{{ item }}</div>

        <div v-for="(item, key) in users">{{ item.name }} - {{ item.email }}</div>
    </div>

    <script>
        const Hello = {
            data() {
                return {
                    name: 'Hello world',

                    numbers: [1, 2, 3, 4, 5],

                    users: [
                        { name: 'Rafael', email: 'rafael.indriago93@gmail.com' },
                        { name: 'Andres', email: 'andres.moya93@gmail.com' }
                    ],

                    flag: true
                }
            },

            beforeCreate() {
                console.log('Before create')
            },

            created() {
                console.log('Created')
            },

            beforeUpdate() {
                console.log('Before update')
            },

            updated() {
                console.log('Updated')
            }
        }

        Vue.createApp(Hello)
            .mount('#app')
    </script>
</body>

</html>